
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #042104;
}
section .contenaire{
    display: flex;
}
section .contenaire .circle{
    position: relative;
    width: 150px;
    height: 150px;
}
section .contenaire .circle span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}
section .contenaire .circle span::before{

}
section .contenaire .circle span::after{

}